@charset "utf-8";
/* CSS Document */
* {
    font-family: "Microsoft YaHei" !important;
}

a:hover {
    text-decoration: none !important;
    color: #2ba0d1;
}

/*@media all*/
img {
    border-bottom: 0px solid;
    border-left: 0px solid;
    border-top: 0px solid;
    border-right: 0px solid;
}


/*@media all*/
div {
    outline-style: none;
    outline-color: invert;
    outline-width: 0px;
}

body {
    padding: 0px;
	margin: 0px;
    background: #f0f0f2;
	font-size: 14px;
}

.page_margins {
    margin: 0 auto;
    width: 980px;
    background: #fff;
}


#head{
    z-index: 100;
    width: 940px;
    margin: 0 auto;
	padding: 10px 0;
    height: 115px;
	
}

#head #logo{
	width: 240px;
	height: 90%;
	float:left;
	border-right: thin solid #999;
	background: url(../image/logo.png);	
}

#head #show_title{	
	width: 600px;
	height: 100%;
	float: left;
	margin-left: 20px;	
}

#head #show_title #time{
	float:left;
	height:100%;
	color: #FF6600;
	margin-top: 20px;
	font-size: 50px;
}

#head #show_title #title_text{
	font-size: 24px;
	color: #0E419C;
	font-weight:bold;
	text-align:center;
}

#head #show_title #title_english{
	font-size: 16px;
	color: #000;
	text-align:center;
	
}

#regularpage {
    z-index: 90;
    position: relative;
    top: 0px;
    left: 0px;
}

#header {
    z-index: 70;
    position: relative;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    background: #fff;
    padding-top: 0px;
}

/*@media screen, projection*/
#main {
    z-index: 60;
    position: relative;
    padding-bottom: 0px;
    line-height: 1.7em;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    color: #333;
    padding-top: 0px;
}

#page_nav {
    margin: 0px 0px 5px;
    width: 940px;
    background: #0E419C;
    height: 45px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 0px;
}

#page_nav ul {
    list-style: none;
    height: 45px;
    margin: 0px;
    padding: 0px;
}

#page_nav ul li ul li a {
    display: block;
    line-height: 40px !important;
    width: 101px;
  	border-top: 1px solid #114ebc;
 	border-bottom: 1px solid #0c3784;
    text-align: left;
    padding: 0 0 0 20px;
    color: #fff;
    background: #0E419C;
	font-size: 14px;
}


#page_nav ul li {
    float: left;
    padding: 0px;
    line-height: 45px;
    margin: 0px;
    border-right: #f1f1f1 1px solid;
    height: 45px;
    padding: 0px;
}

#page_nav ul li:hover {
    background: #003399 repeat-x;
	color: #fff;
}

#page_nav ul li ul li a:hover {
    color: #FF9900;
}


#page_nav ul .topnav-btn {
	float:left;
    font-size: 14px;
    font-weight: bold;
    width: 95px;
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
}

#page_nav ul .topnav-btn2 {
	float: left;
    font-size: 14px;
    font-weight: bold;
    width: 95px;
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
}

a {
	color: #FFF;
    text-decoration: none !important;
}

#page_nav ul .last {
    border-right: 0px;
}


#page_nav ul .home {
    padding: 7px 15px 0 10px;
    width: 30px;
}

#page_nav .mainlevel {
    margin: 0px;
    padding: 0px;
	width: 120px;
}

#page_nav .mainlevel ul {
    display: none;
    position: absolute;
    z-index: 99999;
    top: 30px;
}

#page_nav ul li ul {
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#747474',direction='135',strength='3');
    margin: 13px 0px 0px;
    padding-left: 0px;
    width: 121px;
    padding-right: 0px;
    background: #66CCFF;
    padding-top: 0px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 3px 3px 5px #747474;
    -webkit-box-shadow: 3px 3px 5px #747474;
    -moz-box-shadow: 3px 3px 5px #747474;
    height: auto !important;
}

#page_nav .mainlevel ul li {
    background: #66CCFF;
    float: none !important;
    padding: 0px;
    margin: 0px;
}

#page_nav ul li ul li {
    height: 35px;
}

.SearchSocial {
    z-index: 10;
    margin: 0px;
    background: #0E419C;
    height: 37px;
    font-size: 12px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.SearchBox {
    float: left;
}

.SearchBoxText {
    position: absolute;

    margin: 9px 11px 7px;
    color: #FFF;
    font-size: 13px;
}

.SearchBox form {
    position: absolute;
    margin: 5px 0px 0px 140px;
}

.SearchBox input {
    border-bottom: #ccc 1px solid;
    border-left: #ccc 1px solid;
    padding-bottom: 0px;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
    color: #999;
    vertical-align: middle;
    border-top: #ccc 1px solid;
    border-right: #ccc 1px solid;
    padding-top: 0px;
}

.SearchBox input#searchInput {
    width: 300px;
}

.SearchBox input.Icon {
    height: 24px;
}

#fairpartners {
    width: 940px;
    margin: 30px 0 0 0;
    height: 123px;
}

#footer {
    width: 980px;
	padding-top:30px;
	padding-bottom: 30px;
    background: #fff;
}
#Copyright{
	color:#bbb;	
}

.wrapper{
	width: 940px;
	margin: 0 auto;	
}

#Copyright a,span {
  color: #bbb;
  padding: 0 5px;
  font-size:14px;
}

#Copyright a:hover {
  text-decoration: underline !important;;
}

#copyright_div{
	font-size: 14px;
	margin-top: 10px;	
}

.my_header{
	width: 940px;
	height:35px;
	border-bottom: medium solid #0E419C;
}
.my_header .info {
	float:left;
}

.my_header .info img{	
	vertical-align:middle
}
.my_header #my_title{
	font-size:18px;
	vertical-align:middle;
	color:#0E419C;
	padding-left:10px;
	letter-spacing:9px;
  	font-weight: bold;
  	text-align: center;
}

.my_header .mr {
	float:right;
	position:relative;
	top:3px;
}

.my_header .mr a {
    color: #0E419C;
}

.my_header .mr a:hover {
    color: #FF9900;
}

#page_nav li a.flyout-toggle {
  margin: 0;
  padding: 0;
  display: block;
  width: 0px;
  height: 0px;
  position: relative;
  top: 20px;
  left: 100px;
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #FFF;
  border-left: 5px solid transparent;
}
