@charset "utf-8";
/* CSS Document */

#luntan_info {
    width: 940px;
    margin: 20px 0 0 0;
    height: 240px;
}

#photo {
	float: left;
	margin-top: 20px;
	width: 60%;	
}

#text {
	float:right;
	width: 38%;
	font-size: 14px;
}

#text span{
	color: #333;
	font-weight: bold;
	font-size: 16px;	
}

#flow_text {
	float:right;
	width: 38%;
	font-size: 14px;
}

#flow_text span{
	color: #333;
	font-weight: bold;
	font-size: 16px;	
}

.my_header4{
	width: 100%;
	height:35px;
	margin-bottom: 10px;
	border-bottom: medium solid #0E419C;
}
.my_header4 .info4 {
	float:left;
}

.my_header4 .info4 img{	
	vertical-align:middle
}
.my_header4 #my_title4{
	font-size:18px;
	vertical-align:middle;
	color:#0E419C;
	padding-left:10px;
	letter-spacing:9px;
  	font-weight: bold;
  	text-align: center;
}

#pagemain {
    height: 320px;
    width: 940px;
    margin: 30px auto;
	margin-bottom: 0px;
    z-index: 100;
}

#my_pagemain {
    height: 360px;
    width: 940px;
    margin: 30px auto;
	margin-bottom: 0px;
    z-index: 100;
}

#pagemain .module {
    float: left;
    width: 700px;
	height: 100%;
}

#my_pagemain .my_module {
    float: left;
    width: 560px;
	height: 100%;
}

#my_pagemain .my_module_right {
    float: right;
    width: 360px;
	height: 100%;
}

.my_header9{
	width: 560px;
	height:35px;
	margin-bottom: 10px;
	border-bottom: medium solid #0E419C;
}
.my_header9 .info9 {
	float:left;
}

.my_header9 .info9 img{	
	vertical-align:middle
}
.my_header9 #my_title9{
	font-size:18px;
	vertical-align:middle;
	color:#0E419C;
	padding-left:10px;
	letter-spacing:9px;
  	font-weight: bold;
  	text-align: center;
}

.my_header9 .mr9 {
	float:right;
	position:relative;
	top:3px;
}

.my_header9 .mr9 a {
    color: #999999;
}

.my_header9 .mr9 a:hover {
    color: #99CCFF;
}

.my_header_right{
	width: 360px;
	height:35px;
	margin-bottom: 10px;
	border-bottom: medium solid #0E419C;
}
.my_header_right .info_right {
	float:left;
}

.my_header_right .info_right img{	
	vertical-align:middle
}
.my_header_right #my_title_right{
	font-size:18px;
	vertical-align:middle;
	color:#0E419C;
	padding-left:10px;
	letter-spacing:9px;
  	font-weight: bold;
  	text-align: center;
}

.my_header_right .mr_right {
	float:right;
	position:relative;
	top:3px;
}

.my_header_right .mr_right a {
    color: #999999;
}

.my_header_right .mr_right a:hover {
    color: #99CCFF;
}

.download{
	float:right;
	width:210px;
}

.my_header2{
	width: 560px;
	height:35px;
	margin-bottom: 10px;
	border-bottom: medium solid #0E419C;
}
.my_header2 .info2 {
	float:left;
}

.my_header2 .info2 img{	
	vertical-align:middle
}
.my_header2 #my_title2{
	font-size:18px;
	vertical-align:middle;
	color:#0E419C;
	padding-left:10px;
	letter-spacing:9px;
  	font-weight: bold;
  	text-align: center;
}

.my_header2 .mr2 {
	float:right;
	position:relative;
	top:3px;
}

.my_header2 .mr2 a {
    color: #999999;
}

.my_header2 .mr2 a:hover {
    color: #99CCFF;
}

#pagemain .download{
	float:right;
	width:210px;
}

.my_header3{
	width: 210px;
	height:35px;
	margin-bottom: 10px;
	border-bottom: medium solid #0E419C;
}
.my_header3 .info3 {
	float:left;
}

.my_header3 .info3 img{	
	vertical-align:middle
}
.my_header3 #my_title3{
	font-size:18px;
	vertical-align:middle;
	color:#0E419C;
	padding-left:10px;
	letter-spacing:9px;
  	font-weight: bold;
  	text-align: center;
}

#pagehero_t1 {
    width: 210px;
    height: 270px;
}
.colored {
   background: #0E419C;
}

a.NButton {
    display: inline-block;
    font-family: Arial, Sans-Serif;
    font-size: 14px;
    text-decoration: none;
}

.pageherop {
    margin: 2px 20px 0px;
}

.teaser.colored a.NButton div {
    padding-bottom: 5px;
    line-height: 24px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    float: left;
    color: #fff;
    cursor: pointer;
    padding-top: 5px;
	margin-top: 15px;
	font-size: 15px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.teaser.colored a.NButton div {
    border-bottom: #002e31 2px solid;
    border-left: #002e31 2px solid;
    border-top: #002e31 2px solid;
    border-right: #002e31 2px solid;
}

.teaser a.NButton:hover div {
    background: #003399 repeat-x 0px -420px;
}

.teaser.colored a.NButton div span:hover{
	color: #FF9900 !important;
}

.teaser.colored a.NButton div span {
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
	color:#fff !important;
    display: inline-block;
    background: url(../image/Link_Arrows.png) no-repeat 0px 7px;
    padding-top: 0px;
}

#czqy {
    margin: 15px 0 0 0;
}

#czqy img {
    width: 120px;
    height: 50px;
}

#czqy td {
    padding: 15px 5px 15px 5px;
    text-align: center;
}

#pagemain .module #textdiv1 {
    width: 700px;
    height: 180px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px;
}

#pagemain .module #textdiv1 ul {
    margin: 0 10px;
    width: 680px;
	padding-left: 0px;
    list-style: none;
}

#pagemain .module #textdiv1 ul li {
    margin: 15px 0px 20px 0px;
    background: url(../image/dot.gif) no-repeat 0 8px !important;
    padding-left: 10px;
    height: 18px;
    line-height: 18px;
}

#pagemain .module #textdiv1 ul li a {
    color: #333;
	font-size: 14px;
    text-decoration: none;
    background: none;
}

#pagemain .module #textdiv1 ul li a:hover {
    color: #2ba0d1;
}

#pagemain .module #textdiv1 ul li span {
    font-weight: bold;
	color: #333;
	font-size: 15px;
}
