@charset "utf-8";
/* CSS Document */
#banner {
    width: 940px;
	height: 460px;
    margin: 15px 0 0 0;
}
.out_wrapper {
    width: 940px;
    margin: 15px 0 0 0;
    height: 300px;
}

#czqybar {
    width: 700px;
	float: left;
    margin: 15px 0 0 0;
    height: 270px;
}

#czqybar #czqy {
    margin: 15px 0 0 0;
}

#czqybar #czqy td {
    padding: 15px 10px 15px 10px;
    text-align: center;
}

#hzmtbar {
    width: 940px;
    margin: 50px 0 0 0;
    height: 150px;
}

#hzmtbar #hzmt {
    margin: 35px 0 0 0;
}

#hzmtbar #hzmt td {
    padding: 5px;
    text-align: center;
}

#czqybar #czqy img {
    width: 120px;
    height: 50px;
	margin-right: 10px;
}

#hzmtbar #hzmt img {
    width: 180px;
    height: 50px;
	margin-right: 30px;
}

#pagemain {
    height: 240px;
    width: 940px;
    margin: 15px auto;
    z-index: 100;
}

#pagemain .news {
    float: left;
    width: 700px;
}


.my_header2{
	width: 940px;
	height:35px;
	margin-bottom: 10px;
	border-bottom: medium solid #0E419C;
}
.my_header2 .info2 {
	float:left;
}

.my_header2 .info2 img{	
	vertical-align:middle
}
.my_header2 #my_title2{
	font-size:18px;
	vertical-align:middle;
	color:#0E419C;
	padding-left:10px;
	letter-spacing:9px;
  	font-weight: bold;
  	text-align: center;
}

.my_header2 .mr2 {
	float:right;
	position:relative;
	top:3px;
}

.my_header2 .mr2 a {
    color: #0E419C;
}

.my_header2 .mr2 a:hover {
    color: #FF9900;
}

.my_header0{
	width: 700px;
	height:35px;
	margin-bottom: 10px;
	border-bottom: medium solid #0E419C;
}
.my_header0 .info0 {
	float:left;
}

.my_header0 .info0 img{	
	vertical-align:middle
}
.my_header0 #my_title0{
	font-size:18px;
	vertical-align:middle;
	color:#0E419C;
	padding-left:10px;
	letter-spacing:9px;
  	font-weight: bold;
  	text-align: center;
}

.my_header0 .mr0 {
	float:right;
	position:relative;
	top:3px;
}

.my_header0 .mr0 a {
    color: #0E419C;
}

.my_header0 .mr0 a:hover {
    color: #FF9900;
}

#pagemain .news #textdiv1 {
    width: 700px;
    height: 140px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px;
}

#pagemain .news #textdiv1 ul {
    margin: 0 5px;
    width: 900px;
	padding-left: 0px;
    list-style: none;
}

.download{
	float:right;
  	margin: 15px 0 0 0;
	width:210px;
}

.my_header3{
	width: 210px;
	height:35px;
	margin-bottom: 10px;
	border-bottom: medium solid #0E419C;
}
.my_header3 .info3 {
	float:left;
}

.my_header3 .info3 img{	
	vertical-align:middle
}
.my_header3 #my_title3{
	font-size:18px;
	vertical-align:middle;
	color:#0E419C;
	padding-left:10px;
	letter-spacing:9px;
  	font-weight: bold;
  	text-align: center;
}

#pagehero_t1 {
    width: 210px;
    height: 250px;
}

.colored {
   background: #0E419C;
}

a.NButton {
    display: inline-block;
    font-family: Arial, Sans-Serif;
    font-size: 14px;
    text-decoration: none;
}

.pageherop {
    margin: 2px 20px 0px;
}

.teaser.colored a.NButton div {
    padding-bottom: 5px;
    line-height: 24px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    float: left;
    color: #fff;
    cursor: pointer;
    padding-top: 5px;
	margin-top: 15px;
	font-size: 15px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.teaser.colored a.NButton div {
    border-bottom: #002e31 2px solid;
    border-left: #002e31 2px solid;
    border-top: #002e31 2px solid;
    border-right: #002e31 2px solid;
}

.teaser a.NButton:hover div {
    background: #003399 repeat-x 0px -420px;
}


.teaser.colored a.NButton div span {
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
	color:#fff !important;
    display: inline-block;
    background: url(../image/Link_Arrows.png) no-repeat 0px 7px;
    padding-top: 0px;
}

.teaser.colored a.NButton div span:hover{
	color: #FF9900 !important;
}
.newslist {
  margin: 0 5px;
  padding-bottom: 40px;
  margin-bottom: 14px;
}

.newslist li {
  float: left;
  _display: inline;
  width: 300px;
  margin: 0;
}

.ydate_2 {
  border: 1px solid #edeaf1;
  color: #5b317d !important;
  background: #edeaf1;
}

.ydate {
  width: 58px;
  border: 1px solid #d8d8d8;
  color: #7d7d7d;
  text-align: center;
  font-size: 12px;
  float: left;
  _display: inline;
  padding-bottom: 5px;
}

.ydate span {
  display: block;
  color: #5b317d;
  font-size: 24px;
  line-height: 24px;
  padding: 8px 0 2px 0;
  zoom: 1;
}

.newslist .tn {
  margin-left: 70px;
  width: 220px;
  _width: 217px;
}

.newslist h3 a {
  color: #22132D;
  line-height: 22px;
  font-size: 16px;
}

.newslist p {
  color: #777;
  padding-top: 8px;
}