@charset "utf-8";
/* CSS Document */
#banner {
    width: 940px;
    margin: 15px 0 0 0;
}

#czqybar {
    width: 940px;
    margin: 15px 0 0 0;
    height: 123px;
}

#czqybar #czqy {
    margin: 35px 0 0 0;
}

#czqybar #czqy td {
    padding: 5px;
    text-align: center;
}

#hzmtbar {
    width: 940px;
    margin: 30px 0 0 0;
    height: 150px;
}

#hzmtbar #hzmt {
    margin: 35px 0 0 0;
}

#hzmtbar #hzmt td {
    padding: 5px;
    text-align: center;
}

#czqybar #czqy img {
    width: 120px;
    height: 50px;
}

#hzmtbar #hzmt img {
    width: 120px;
    height: 50px;
}

#pagemain {
    height: 340px;
    width: 940px;
    margin: 15px auto;
    z-index: 100;
}

#pagemain .news {
    float: left;
    width: 700px;
}


.my_header2{
	width: 700px;
	height:35px;
	margin-bottom: 10px;
	border-bottom: medium solid #99CCFF;
}
.my_header2 .info2 {
	float:left;
}

.my_header2 .info2 img{	
	vertical-align:middle
}
.my_header2 #my_title2{
	font-size:18px;
	vertical-align:middle;
	color:#999999;
	padding-left:10px;
	letter-spacing:9px;
  	font-weight: bold;
  	text-align: center;
}

.my_header2 .mr2 {
	float:right;
	position:relative;
	top:3px;
}

.my_header2 .mr2 a {
    color: #999999;
}

.my_header2 .mr2 a:hover {
    color: #99CCFF;
}

#pagemain .news #textdiv1 {
    width: 700px;
    height: 140px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px;
}

#pagemain .news #textdiv1 ul {
    margin: 0 10px;
    width: 680px;
	padding-left: 0px;
    list-style: none;
}

#pagemain .news #textdiv1 ul li {
    margin: 3px 0px;
    background: url(../image/dot.gif) no-repeat 0 8px !important;
    padding-left: 10px;
    height: 18px;
    line-height: 18px;
}

#pagemain .news #textdiv1 ul li a {
    color: #333;
    text-decoration: none;
    background: none;
}

#pagemain .news #textdiv1 ul li a:hover {
    color: #2ba0d1;
}

#pagemain .news #textdiv1 ul li span {
    float: right;
    color: #666;
}


#pagemain #piclist {
    width: 620px;
    margin: 20px auto 0 20px;
    padding: 0;
}

#pagemain #piclist ul {
    list-style: none;
    margin: 0;
}

#pagemain #piclist ul li {
    float: left;
    margin: 0;
    height: 90px;
    width: 124px;
    text-align: center;
    padding: 0;
}

#pagemain #piclist img {
    width: 120px;
    height: 90px;
    border: 2px solid #fff;
}

#pagemain .download{
	float:right;
	width:210px;
}

.my_header3{
	width: 210px;
	height:35px;
	margin-bottom: 10px;
	border-bottom: medium solid #99CCFF;
}
.my_header3 .info3 {
	float:left;
}

.my_header3 .info3 img{	
	vertical-align:middle
}
.my_header3 #my_title3{
	font-size:18px;
	vertical-align:middle;
	color:#999999;
	padding-left:10px;
	letter-spacing:9px;
  	font-weight: bold;
  	text-align: center;
}

#pagehero_t1 {
    width: 210px;
    height: 270px;
}

.colored {
   background: #99CCFF;
}

a.NButton {
    display: inline-block;
    font-family: Arial, Sans-Serif;
    font-size: 14px;
    text-decoration: none;
}

.pageherop {
    margin: 2px 20px 0px;
}

.teaser.colored a.NButton div {
    padding-bottom: 5px;
    line-height: 24px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    float: left;
    color: #fff;
    cursor: pointer;
    padding-top: 5px;
	margin-top: 15px;
	font-size: 15px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.teaser.colored a.NButton div {
    border-bottom: #002e31 1px solid;
    border-left: #002e31 1px solid;
    background: #66CCFF repeat-x 0px -280px;
    border-top: #002e31 1px solid;
    border-right: #002e31 1px solid;
}

.teaser a.NButton:hover div {
    background: #6699CC repeat-x 0px -420px;
}


.teaser.colored a.NButton div span {
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
	color:#fff !important;
    display: inline-block;
    background: url(../image/Link_Arrows.png) no-repeat 0px 7px;
    padding-top: 0px;
}

