@charset "utf-8";
/* CSS Document */
/*@media screen, projection*/
.subcolumns {
    width: 100%;
    overflow: hidden;
}

.slides h4{
	height:42px; 
	line-height:42px; 
	font-size:22px;
	opacity:.8;
}

/*@media screen, projection*/
.c220l {
    margin: 0px 20px 0px 0px;
}

/*@media screen, projection*/
.c220l {
    width: 220px;
}

/*@media screen, projection*/
.c220l {
    float: left;
}

div.subnav_mainnode {
    border-bottom: #c7c7c7 1px solid;
    padding-bottom: 6px;
    margin-top: 48px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

div.subnav_mainnode a {
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
    display: inline-block;
    color: #999;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    padding-top: 0px;
}

ul.subnav li a {
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
    display: inline-block;
    color: #333;
	font-size: 14px;
    padding-top: 0px;
}
ul.subnav li a:hover{
	color: #0E419C;	
}
ul.subnav {
    padding-bottom: 0px;
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    list-style-image: none;
    padding-top: 0px;
}

.subnav {
    font-weight: normal;
}

ul.subnav li {
    border-bottom: #c7c7c7 1px solid;
    padding-bottom: 3px;
    line-height: 2em;
    margin: 1px 0px 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

/*@media screen, projection*/
.c460l {
    margin: 0px 20px 0px 0px;
}

/*@media screen, projection*/
.c460l {
    width: 640px;
}

/*@media screen, projection*/
.c460l {
    float: right;
}

.PageRef_Box {
    margin: 14px 0px 5px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

a.PageRef_BoxLink {
    color: #fff !important;
    cursor: hand;
    text-decoration: none;
}

a.PageRef_BoxLink div {
    background: url(../image/PageRef_Bg_Inactive.png);
}

a.PageRef_BoxLink:hover div {
    background: url(../image/PageRef_Active_Background.png);
}

.my_header3{
	width: 100%;
	height:35px;
	margin: 30px 0 10px 0;
	border-bottom: medium solid #0E419C;
}
.my_header3 .info3 {
	float:left;
}

.my_header3 .info3 img{	
	vertical-align:middle
}
.my_header3 #my_title3{
	font-size:18px;
	vertical-align:middle;
	color:#0E419C;
	padding-left:10px;
	letter-spacing:9px;
  	font-weight: bold;
  	text-align: center;
}

.my_header3 .mr3 {
	float:right;
	position:relative;
	top:3px;
}

.my_header3 .mr3 a {
    color: #0E419C !important;
}

.my_header3 .mr3 a:hover {
    color: #FF9900 !important;
}

/*@media screen, projection*/
.c460l a {
    text-decoration: none !important;
    color: #666 !important;
}

.c460l a:hover {
    color: #0E419C !important;
}

a.PageRef_BoxLink div.PageRef_LinkContentBox {
    background: url(../image/PageRef_Arrow.png) no-repeat;
}

a.PageRef_BoxLink:hover div.PageRef_LinkContentBox {
    background: url(../image/PageRef_Arrow.png) no-repeat;
}

.PageRef_LinkContentBox {
    margin: 0px 10px;
    padding-left: 15px;
    font-size: 14px;
    overflow: hidden;
}

a.PageRef_BoxLink {
    color: #fff !important;
    cursor: hand;
    text-decoration: none;
}

/*@media screen, projection*/
.PageRef_Box a:hover {
    color: #f60 !important;
}

#czqy,#czqy2,#czqy3 {
    margin: 15px 0 0 0;
}

#czqy td {
    padding: 15px 10px 15px 10px;
    text-align: center;
}

#czqy2 td {
    padding: 15px 5px 15px 5px;
    text-align: center;
}
#czqy3 td {
    padding: 15px 5px 15px 5px;
    text-align: center;
}

#czqy img {
    width: 120px;
    height: 50px;
}

#czqy2 img {
    width: 120px;
    height: 50px;
}
#czqy3 img {
    width: 120px;
    height: 50px;
}
#czqy_name .table_title{
	font-size:18px;
	vertical-align:middle;
	color:#0E419C;
	margin: 20px 0 10px 0;
	padding-left:10px;
	letter-spacing:9px;
  	font-weight: bold;
  	text-align: center;
}

#czqy_name .czqy_show td{
	padding: 10px 5px 10px 5px;
    text-align: center;
	border: 1px solid #0E419C;
}

#czqy_name .czqy_show td a{
	font-size: 14px;
}
