@charset "utf-8";
/* CSS Document */
/*@media screen, projection*/
.subcolumns {
    width: 100%;
    overflow: hidden;
}

/*@media screen, projection*/
.c220l {
    margin: 0px 20px 0px 0px;
}

/*@media screen, projection*/
.c220l {
    width: 220px;
}

/*@media screen, projection*/
.c220l {
    float: left;
}

div.subnav_mainnode {
    border-bottom: #c7c7c7 1px solid;
    padding-bottom: 6px;
    margin-top: 48px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

div.subnav_mainnode a {
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
    display: inline-block;
    color: #999;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    padding-top: 0px;
}

ul.subnav li a {
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
    display: inline-block;
    color: #333;
	font-size: 14px;
    padding-top: 0px;
}
ul.subnav li a:hover{
	color: #99CCFF;	
}
ul.subnav {
    padding-bottom: 0px;
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    list-style-image: none;
    padding-top: 0px;
}

.subnav {
    font-weight: normal;
}

ul.subnav li {
    border-bottom: #c7c7c7 1px solid;
    padding-bottom: 3px;
    line-height: 2em;
    margin: 1px 0px 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

/*@media screen, projection*/
.c460l {
    margin: 0px 20px 0px 0px;
}

/*@media screen, projection*/
.c460l {
    width: 600px;
}

/*@media screen, projection*/
.c460l {
    float: left;
}

.my_header3{
	width: 100%;
	height:35px;
	margin: 30px 0 10px 0;
	border-bottom: medium solid #0E419C;
}
.my_header3 .info3 {
	float:left;
}

.my_header3 .info3 img{	
	vertical-align:middle
}
.my_header3 #my_title3{
	font-size:18px;
	vertical-align:middle;
	color:#0E419C;
	padding-left:10px;
	letter-spacing:9px;
  	font-weight: bold;
  	text-align: center;
}

p{
	text-indent: 1cm;	
	line-height:250%;
	font-size: 16px;
}